@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
